  <footer class="main-footer" style="padding: .2rem 1rem;">
    <div class="float-right d-none d-sm-block">
      <small>
        <b><i>EMS:</i></b> {{ems_version}},&nbsp;
        <b><i>Web Admin:</i></b> {{package_version}},&nbsp;
        <b><i>Build:</i></b> {{ems_build}}
      </small>
      &nbsp;
      <img src="@/assets/img/ems-logo-192x192.png" width="24" height="24" />
    </div>
    <small>
        Copyright <strong>&copy; 2017-2022</strong>&nbsp;
        <a href="http://imu.iccs.gr" target="_blank">Institute of Communication and Computer Systems</a>.
        All rights reserved.
    </small>
  </footer>
