
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->

  <!-- Tabs -->
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs" id="control-sidebar-tabs" role="tablist">
    <!--<li class="nav-item">
      <a class="nav-link active" id="control-sidebar-home-tab" data-toggle="pill" href="#control-sidebar-home" role="tab" aria-controls="control-sidebar-home" aria-selected="false"><i class="fa fa-home"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="control-sidebar-profile-tab" data-toggle="pill" href="#control-sidebar-profile" role="tab" aria-controls="control-sidebar-profile" aria-selected="false"><i class="fa fa-user"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="control-sidebar-messages-tab" data-toggle="pill" href="#control-sidebar-messages" role="tab" aria-controls="control-sidebar-messages" aria-selected="false"><i class="fa fa-envelope"></i></a>
    </li>-->
    <li class="nav-item">
      <a class="nav-link" id="control-sidebar-settings-tab" data-toggle="pill" href="#control-sidebar-settings" role="tab" aria-controls="control-sidebar-settings" aria-selected="false"><i class="fa fa-cog"></i></a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content" id="control-sidebar-tabContent">
    <!-- Home tab content -->
<!--    <div class="tab-pane fade active show" id="control-sidebar-home" role="tabpanel" aria-labelledby="control-sidebar-home-tab">
      <h5 class="control-sidebar-heading">Home</h5>
      <p>...</p>
    </div>-->
    <!-- /.tab-pane -->
    <!-- Profile tab content -->
<!--    <div class="tab-pane fade" id="control-sidebar-profile" role="tabpanel" aria-labelledby="control-sidebar-profile-tab">
      <h5 class="control-sidebar-heading">Profile</h5>
      <p>...</p>
    </div>-->
    <!-- /.tab-pane -->
    <!-- Messages tab content -->
<!--    <div class="tab-pane fade" id="control-sidebar-messages" role="tabpanel" aria-labelledby="control-sidebar-messages-tab">
      <h5 class="control-sidebar-heading">Messages</h5>
      <p>...</p>
    </div>-->
    <!-- /.tab-pane -->
    <!-- Settings tab content -->
    <div class="tab-pane fade active show" id="control-sidebar-settings" role="tabpanel" aria-labelledby="control-sidebar-settings-tab">
      <h5 class="control-sidebar-heading">Settings</h5>
      <p>&nbsp;</p>

      <div id="control-sidebar-widget-settings" style="min-height: 20px; background-color: #444444; padding: 5px; margin: 0;"></div>
    </div>
    <!-- /.tab-pane -->
  </div>

</aside>
<!-- /.control-sidebar -->
